body {
    padding:0;
    margin:0;
    height: 100vh;
    background-color: #F9CCCA;
}

.container {
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: calc(20vw*1.12818877551);
    border-radius: 15px;
    aspect-ratio: 1.12818877551;
    cursor: pointer;
    position: fixed;
    background-image: url("luant-s-artworks-comm-avocadocat-megu.jpg");
    background-size: cover;
    z-index: 2;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: end;
}

#drop {
    width: calc(20vw*1.12818877551);
    aspect-ratio: 1.12818877551;
    background-color: aquamarine;
    position: fixed;
    border-radius: 15px;
    z-index: 1;
}