body {
  padding: 0;
  margin: 0;
  height: 100vh;
}


#spawnerButton{
    position: fixed;
    top: 20vw;
    left: 1vw;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
}

#spawnerButton2{
  position: fixed;
  top: 22vw;
  left: 1vw;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

#buyMenu{
  position: fixed;
  top: 24vw;
  left: 1vw;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottomholder {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottomhitbox {
  height: 5.5vw;
  width: 70vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #38334a;
  opacity: 0.67;
  z-index: 99;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
  cursor: pointer;
}

#hand {
  height: 15vw;
  aspect-ratio: 2/3;
  position: fixed;
  border-radius: 0.5vw;
  background-color: #231d2d;
  opacity: 0.67;
}

.card {
  height: 15vw;
  border-radius: 0.5vw;
  aspect-ratio: 2/3;
  cursor: pointer;
  position: fixed;
  background-image: url("images/luant-s-artworks-comm-avocadocat-megu.jpg");
  background-size: cover;
  z-index: 2;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

.card:after {
  content: "";
  position: absolute;
  background-image: url("images/Asset 5.svg");
  width: 110%;
  height: 105%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  background-position: center;
  top: -50%;
  left: -50%;
  transform: translate(40.4%, 45.3%);

  /* meow tohle je on purpose ten error */
  animation: var(--border-animation, none);
  filter: var(--border-filter, brightness(0) saturate(100%) invert(91%) sepia(24%) saturate(5001%) hue-rotate(342deg) brightness(89%) contrast(92%));
}

@keyframes pulseBorder {
  0%, 100% {

    filter: brightness(0) saturate(100%) invert(91%) sepia(24%) saturate(5001%) hue-rotate(342deg) brightness(89%) contrast(92%);

  }
  50% {
    filter: brightness(0) saturate(100%) invert(90%) sepia(12%) saturate(6531%) hue-rotate(358deg) brightness(100%) contrast(106%);

  }
}

#card2 {
  left: 10vw;
  background-image: url("images/Artual.jpeg");
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: end;
}

.drop {
  height: 15vw;
  aspect-ratio: 2/3;
  background-color: #38334a;
  position: fixed;
  border-radius: 0.5vw;
  z-index: 1;
}

#drop1 {
  left: 32.5vw;
  top: 5vw;
}
#drop2 {
  left: 45vw;
  top: 5vw;
}
#drop3 {
  left: 57.5vw;
  top: 5vw;
}
#drop4 {
  left: 32.5vw;
  top: 23vw;
}
#drop5 {
  left: 45vw;
  top: 23vw;
}
#drop6 {
  left: 57.5vw;
  top: 23vw;
}

.slidecontainer {
  position: fixed;
  top:  1vw;
  left: 1vw;
}

.slider {
  -webkit-appearance: none;
  width: 15vw;
  height: 1vw;
  border-radius: 0.4vw;

  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5vw;
  height: 2.6vw;
  background: url("images/betterchibijett.png");
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  background: url("images/betterchibijett.png");
  background-size: cover;
  cursor: pointer;
}

:root {
  --pinkie: #F2C3F7;
  --menu: 32, 31, 33;
}

#shopMenu {
  top: 100vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(var(--menu), 0.8);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 99;
    backdrop-filter: blur(14.8px);
     -webkit-backdrop-filter: blur(14.8px);
}

#exit {
 font-family: "Open Sans", sans-serif;
 font-size: 2vw;
 letter-spacing: 2px;
 text-decoration: none;
 text-transform: uppercase;
 top: 1vw;
 left: 92vw;
 color: var(--pinkie);
 cursor: pointer;
 border: var(--pinkie) 3px solid;
 padding: 0.25em 0.5em;
 box-shadow: var(--pinkie) 1px 1px 0px 0px, var(--pinkie)  2px 2px 0px 0px, var(--pinkie) 3px 3px 0px 0px, var(--pinkie) 4px 4px 0px 0px, var(--pinkie) 5px 5px 0px 0px;
 position: relative;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
}

#exit:active {
  box-shadow: 0px 0px 0px 0px;
  top: 1vw;
  left: 92vw;
}