body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #f9ccca;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottomhitbox {
  height: 5.5vw;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

#hand {
  height: 15vw;
  width: 10vw;
  background-color: bisque;
  position: fixed;
  border-radius: 0.5vw;
}

.card {
  height: 15vw;
  border-radius: 0.5vw;
  aspect-ratio: 115/160;
  cursor: pointer;
  position: fixed;
  background-image: url("images/luant-s-artworks-comm-avocadocat-megu.jpg");
  background-size: cover;
  z-index: 2;
}

#card2 {
  left: 10vw;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: end;
}

.drop {
  height: 15vw;
  aspect-ratio: 115/160;
  background-color: lightgoldenrodyellow;
  position: fixed;
  border-radius: 0.5vw;
  z-index: 1;
}

#drop1 {
  left: 30vw;
  top: 5vw;
}
#drop2 {
  left: 45vw;
  top: 5vw;
}
#drop3 {
  left: 60vw;
  top: 5vw;
}
#drop4 {
  left: 30vw;
  top: 23vw;
}
#drop5 {
  left: 45vw;
  top: 23vw;
}
#drop6 {
  left: 60vw;
  top: 23vw;
}

.slidecontainer {
  position: fixed;
  top:  1vw;
  left: 1vw;
}

.slider {
  -webkit-appearance: none;
  width: 15vw;
  height: 1vw;
  border-radius: 0.4vw;

  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5vw;
  height: 2.6vw;
  background: url("images/betterchibijett.png");
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  background: url("images/betterchibijett.png");
  background-size: cover;
  cursor: pointer;
}